.overlay {
  position: absolute;
  left: 0vw;
  top: 0vw;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  position: fixed;
  bottom: 0;
  right: 0;
}

.sidebar {
  position: sticky;
  top: 50%;
  height: 100%;
  width: 550px;
  background: white;
  box-shadow: -10px 4px 24px black;
  padding: 30px;
}



.emptyImg {
  width: 240px;
  height: 240px;
}

.orderDone {
  width: 166px;
  height: 240px;
}

@media (max-width: 600px) {
  .sidebar {
    width: 100%;
  }


}