.btn {
  margin-top: 2rem;
  background: #94C852;
  font-size: 45px;
  color: white;
  height: 70px;
  width: 500px;
  border-radius: 22px;
  border: none;

  &:hover {
    box-shadow: 1px 1px 4px rgb(92, 139, 68);
  }
}

.oneOrder {
  // position: relative;
  box-sizing: content-box;
  margin: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 16rem;
  height: 19rem;
  padding: 1rem;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  border: 1px solid black;

  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }

  .img {
    width: 64px;
    height: 48px;
  }

}

.orderItems {
  overflow: auto;
}