.overlay {
  position: absolute;
  left: 0vw;
  top: 0vw;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5%;

  position: fixed;
  bottom: 0;
  right: 0;

  .button {
    position: absolute;
    right: -3.5rem;
    top: 0;
    width: 3rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
  }

  .content-wrap {
    position: relative;
    padding: 30px;
    // border: 1px solid red;
    display: flex;
    height: fit-content;

  }
}