.wrapper {
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;

  header {
    // d-flex justify-content-between align-items-center mb-4
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    padding-top: 25px;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    background-color: white;
    position: sticky;
    top: -1px;
    z-index: 900;
    flex-wrap: wrap;

    .hoverRose {
      &:hover {
        color: #FD8583;
      }
    }

    .logo {
      width: 50px;
    }

    ul {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0;
      padding-left: 0;

      li {
        list-style-type: none;
        font-size: 2rem;
        margin-left: 1rem;
        display: grid;
        justify-items: center;
        justify-content: center;
        cursor: pointer;
        width: 54px;
        margin-right: 1rem;

        span {
          font-size: medium;
        }
      }

      .active {
        color: coral;

        span {
          text-decoration: underline;
        }
      }
    }

  }

}

.body-no-scroll {
  overflow: hidden;
}

.p-40 {
  padding: 40px;
}

.fontW_700 {
  font-weight: 700;
}

.hoverGreen {
  cursor: pointer;

  &:hover {
    color: #94C852;
    transition: 3ms;
  }

}

.filler {
  width: 100%;
  border-bottom: 1px dotted lightgray;
}

.pointer {
  cursor: pointer;
}



.btnOne {
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  line-height: 30px;
  // height: 80%;
  color: rgb(170, 168, 168);
  background-color: transparent;
  border-radius: 5px;
  font-size: medium;
  text-align: center;
  display: flex;
  justify-content: center;

  &:hover {
    box-shadow: 1px 1px 4px rgb(147, 115, 120);
  }
}


.greenText {
  color: #87C20A;
}

.green_btn {
  margin-top: 2rem;
  height: 50px;
  width: 100%;
  background: #94C852;
  background: #9DD458;
  border-radius: 18px;
  border: none;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 19px;
  text-align: center;

  &:hover {
    box-shadow: 1px 1px 4px rgb(92, 139, 68);
  }
}



@media (max-width: 600px) {
  .wrapper {
    margin: 0;
    margin-top: 50px;

  }

  .green_btn {
    height: 3rem;
    margin-top: 1rem;
  }
}