.wrapper{
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
  header{
    border-bottom:1px solid #f4f4f4;
    padding-bottom:10px;
  }
  li{
    list-style-type: none
  }

 

}